/* Table of Contents
   ==================================================
   
    # -- Different Width
	# -- Different Height of .mid-content

   ==================================================
*/

/* # -- Different Width
================================================== */


@media all and (max-width: 1024px),
	all and (max-device-width: 1024px) {
	
	#countdown-screen .mid-content { width: 768px; }
	
	#labels > div,
	#countdown .body > div { margin: 0 38px; }	
}

@media all and (max-width: 768px),
	all and (max-device-width: 768px) {
	
	.wrapper { 
		max-width: 768px; 
			width: 100%;
	}
	
	.scrn .mid-content { left: 0; }
	
	#countdown-screen .mid-content { top: 15% !important; width: 100%; }
	
	#labels > div,
	#countdown .body > div { margin: 0 38px; }
	
	#about-us .features > ul > li .pic { padding: 40px 20px; }
	
	#main-btn { display: none; }
	
	#countdown-screen nav > ul {
		opacity: 1;
		display: block;
	}
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  
	#countdown-screen .mid-content { top: 10% !important; }
}

@media all and (max-width: 767px),
	all and (max-device-width: 767px) {
	
	.full-height { height: auto; }
	.scrn .mid-content { margin-top: 50px; }
	
	#hello { margin-bottom: 25%; }
	
	#countdown .body { 
		height: 110px;
		font-size: 120px;
	}
	
	#countdown .loading { height: 110px; }
	
	#labels > div, 
	#countdown .body > div { margin: 0 15px; }
	#countdown .body > div > div { width: 30px; }
	
	#countdown .body > div > div > div {
		width: 30px;
		height: 120px;
	}
	
	#labels .das { width: 90px; }
	#labels > div { width: 60px; }	
}

@media all and (max-width: 705px),
	all and (max-device-width: 705px) {
	
	#about-us .features > ul > li {
		display: block;
	}
	
	body > footer .left,
	body > footer .right {
		float: none !important;
	}
	
	body > footer .text {
		margin-bottom: 10px;
	}
}

@media all and (max-width: 415px),
	all and (max-device-width: 415px) {
	
	#hello h1 { font-size: 2em }
	#hello h2 { font-size: 1em }
	#hello h3 { font-size: 1em }
	
	#countdown .body { 
		height: 80px;
		font-size: 80px;
	}
	
	#countdown .loading { height: 80px; }
	
	#labels > div, 
	#countdown .body > div { margin: 0 11px; }
	#countdown .body > div > div { width: 25px; }
	
	#countdown .body > div > div > div {
		width: 25px;
		height: 90px;
	}
	
	#labels .das { width: 75px; }
	#labels > div { width: 50px; }
	
	#countdown-screen nav > ul > li > a { font-size: 13px; }
	
	#feedback form .acts {
		width: 100%;
		text-align: center;
	}
	
	#feedback form .acts img { margin: 8px 0; }
	
	#feedback form .acts input[type="text"] {
		max-width: none;
			width: 100%;
	}
	
	#feedback form input[type="submit"] {
		max-width: none;
			width: 100%;
		display: block;
	}
	
	#feedback .body .loading,
	#feedback .body .response {
		height: 370px;
		line-height: 370px;
	}
}


/* # -- Different Height of .mid-content
================================================== */

#countdown, 
#countdown-screen nav,
.scrn .mid-content {
	
	-webkit-transition: top 0.8s ease, margin-top 0.8s ease; 
	   -moz-transition: top 0.8s ease, margin-top 0.8s ease; 
		 -o-transition: top 0.8s ease, margin-top 0.8s ease; 
		    transition: top 0.8s ease, margin-top 0.8s ease;
}

@media all and (min-height: 900px) {
		
	.scrn .mid-content {
		top: 20%;
	}
}

@media all and (max-height: 768px) {
	
	.scrn .mid-content {
		top: 10%;
	}
}

@media all and (max-height: 718px) {
	
	#countdown { margin-top: 60px; }
	#countdown-screen nav { margin-top: 40px; }
}

@media all and (max-height: 640px) {
	
	#countdown { margin-top: 40px; }
	#countdown-screen nav { margin-top: 20px; }
}