/* # -- FONT OF LOGO
================================================== */

@font-face {
    font-family: 'limit_breakregular';
    src: url('../fonts/limit_break.eot');
    src: url('../fonts/limit_break.eot?#iefix') format('embedded-opentype'),
         url('../fonts/limit_break.woff') format('woff'),
         url('../fonts/limit_break.ttf') format('truetype'),
         url('../fonts/limit_break.svg#limit_breakregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* # -- FONT OF COUNTDOWN
================================================== */

@font-face {
    font-family: 'montepetrumregular';
    src: url('../fonts/montepetrum_regular.eot');
    src: url('../fonts/montepetrum_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montepetrum_regular.woff') format('woff'),
         url('../fonts/montepetrum_regular.ttf') format('truetype'),
         url('../fonts/montepetrum_regular.svg#montepetrumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}