@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400);
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto'; }

.row {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .span1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .row .span1:last-child {
      margin-right: 0; }
  .row .span2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .row .span2:last-child {
      margin-right: 0; }
  .row .span3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .row .span3:last-child {
      margin-right: 0; }
  .row .span4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .span4:last-child {
      margin-right: 0; }
  .row .span5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .row .span5:last-child {
      margin-right: 0; }
  .row .span6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .span6:last-child {
      margin-right: 0; }
  .row .span7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .row .span7:last-child {
      margin-right: 0; }
  .row .span8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .row .span8:last-child {
      margin-right: 0; }
  .row .span9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .row .span9:last-child {
      margin-right: 0; }
  .row .span10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .row .span10:last-child {
      margin-right: 0; }
  .row .span11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .row .span11:last-child {
      margin-right: 0; }
  .row .span12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .row .span12:last-child {
      margin-right: 0; }

.centered-navigation {
  background-color: #F0F2F1;
  border-bottom: 1px solid #e0e4e2;
  min-height: 60px;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: .6;
      padding: .8em 0;
      transition: all 0.3s ease-in-out; }
      .centered-navigation .mobile-logo img:hover, .centered-navigation .mobile-logo img:focus {
        opacity: 1; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #333; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: #F0F2F1;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: #333; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6;
    transition: all 0.3s ease-in-out; }
    .centered-navigation .logo img:hover, .centered-navigation .logo img:focus {
      opacity: 1; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(51, 51, 51, 0.7);
      content: "\25BE"; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:focus > ul, .centered-navigation li.more:hover > ul {
      display: block !important; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation li.more.nav-link > ul {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link > ul {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link > ul ul {
        left: 11.8em;
        top: 0; } }
    .centered-navigation li.more.nav-link > ul li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more.nav-link > ul li {
          line-height: 46.15385px; }
          .centered-navigation li.more.nav-link > ul li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .centered-navigation li.more.nav-link > ul li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: .7em; } }
      .centered-navigation li.more.nav-link > ul li a {
        background-color: #e8ebe9;
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation li.more.nav-link > ul li a {
            background-color: #F0F2F1;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

article.docs {
  /* Inline code */
  color: #555; }
  article.docs pre[class*="language-"] {
    padding: 1em;
    margin: 10px 0 20px;
    overflow: auto; }
  article.docs :not(pre) > code[class*="language-"], article.docs pre[class*="language-"] {
    background: #f0f2f1;
    border-radius: 3px; }
  article.docs :not(pre) > code[class*="language-"] {
    background: #f0f2f1;
    color: #f4645f;
    padding: 1px 5px;
    border-radius: 3px; }
  article.docs .token.comment, article.docs .token.prolog, article.docs .token.doctype, article.docs .token.cdata {
    color: #999; }
  article.docs .token.punctuation {
    color: #999; }
  article.docs .namespace {
    opacity: .7; }
  article.docs .token.property, article.docs .token.tag, article.docs .token.boolean, article.docs .token.number, article.docs .token.constant, article.docs .token.symbol, article.docs .token.deleted {
    color: #DA564A; }
  article.docs .token.scope {
    color: #F66153; }
  article.docs .token.selector, article.docs .token.attr-name, article.docs .token.string, article.docs .token.char, article.docs .token.builtin, article.docs .token.inserted {
    color: #555; }
  article.docs .token.operator, article.docs .token.entity, article.docs .token.url, article.docs .language-css .token.string, article.docs .style .token.string {
    color: #555; }
  article.docs .token.atrule, article.docs .token.attr-value, article.docs .token.keyword {
    color: #07a; }
  article.docs .token.function {
    color: #555; }
  article.docs .token.regex, article.docs .token.important, article.docs .token.variable {
    color: #4EA1DF; }
  article.docs .token.important, article.docs .token.bold {
    font-weight: bold; }
  article.docs .token.italic {
    font-style: italic; }
  article.docs .token.entity {
    cursor: help; }
  article.docs pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    padding-top: 0px;
    margin-top: -1px;
    border-radius: 0;
    counter-reset: linenumber; }
  article.docs pre.line-numbers > code {
    position: relative; }
  article.docs .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: -2px;
    padding-top: 2px;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    background: #f0f2f1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  article.docs .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber; }
  article.docs .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right; }
  article.docs .dark-code {
    /* Code blocks */
    /* Inline code */ }
  article.docs .dark-code code[class*="language-"], article.docs .dark-code pre[class*="language-"] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
  article.docs .dark-code pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em; }
  article.docs .dark-code :not(pre) > code[class*="language-"], article.docs .dark-code pre[class*="language-"] {
    background: #272822; }
  article.docs .dark-code :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em; }
  article.docs .dark-code .token.comment, article.docs .dark-code .token.prolog, article.docs .dark-code .token.doctype, article.docs .dark-code .token.cdata {
    color: slategray; }
  article.docs .dark-code .token.punctuation {
    color: #f8f8f2; }
  article.docs .dark-code .namespace {
    opacity: .7; }
  article.docs .dark-code .token.property, article.docs .dark-code .token.tag, article.docs .dark-code .token.constant, article.docs .dark-code .token.symbol, article.docs .dark-code .token.deleted {
    color: #f92672; }
  article.docs .dark-code .token.boolean, article.docs .dark-code .token.number {
    color: #ae81ff; }
  article.docs .dark-code .token.selector, article.docs .dark-code .token.attr-name, article.docs .dark-code .token.string, article.docs .dark-code .token.char, article.docs .dark-code .token.builtin, article.docs .dark-code .token.inserted {
    color: #a6e22e; }
  article.docs .dark-code .token.operator, article.docs .dark-code .token.entity, article.docs .dark-code .token.url, article.docs .dark-code .language-css .token.string, article.docs .dark-code .style .token.string, article.docs .dark-code .token.variable {
    color: #f8f8f2; }
  article.docs .dark-code .token.atrule, article.docs .dark-code .token.attr-value {
    color: #e6db74; }
  article.docs .dark-code .token.keyword {
    color: #66d9ef; }
  article.docs .dark-code .token.regex, article.docs .dark-code .token.important {
    color: #fd971f; }
  article.docs .dark-code .token.important, article.docs .dark-code .token.bold {
    font-weight: bold; }
  article.docs .dark-code .token.italic {
    font-style: italic; }
  article.docs .dark-code .token.entity {
    cursor: help; }
  article.docs a {
    color: #F4645F;
    text-decoration: none; }
    article.docs a:hover {
      color: #f1362f; }
  article.docs ul {
    list-style: none;
    padding-left: 0; }
  article.docs h1 {
    font-size: 48px;
    font-weight: 200; }
  article.docs h2 {
    font-size: 36px;
    font-weight: 400;
    position: relative; }
    article.docs h2 a {
      color: #555;
      position: relative; }
      article.docs h2 a:before {
        content: "#";
        margin-left: -25px;
        position: absolute;
        font-size: 28px;
        top: 5px;
        color: #F4645F;
        opacity: .6; }
  article.docs blockquote {
    transition: all 0.2s ease-in-out;
    box-flex: 2;
    -webkit-flex: 2 2 15em;
    -moz-flex: 2 2 15em;
    -ms-flex: 2 2 15em;
    flex: 2 2 15em;
    -webkit-align-self: stretch;
            align-self: stretch;
    -ms-flex-item-align: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #DDD, 0 2px 4px #e6e6e6;
    display: block;
    margin: 0.4em;
    padding: 1em;
    border-top: 6px solid #F4645F; }
    article.docs blockquote:focus, article.docs blockquote:hover {
      background-color: rgba(244, 100, 95, 0.1); }
    article.docs blockquote img {
      display: block;
      height: 3em;
      margin-bottom: 2em;
      margin: auto;
      opacity: 0.4; }
    article.docs blockquote .flex-title {
      color: rgba(51, 51, 51, 0.7);
      font-size: 1.2em;
      font-weight: 800;
      margin-bottom: 0.5em; }
    article.docs blockquote p {
      color: rgba(51, 51, 51, 0.6);
      line-height: 1.5em;
      margin: auto; }

.hero {
  background: url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), linear-gradient(10deg, #20392B, #7F99BE), no-repeat #7F99BE scroll;
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em; }
  .hero .hero-logo img {
    height: 4em;
    margin-bottom: 1em; }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin: auto;
    padding: 3.5em;
    text-align: center; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 1.8em; } }
      .hero .hero-inner .hero-copy p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy p {
            font-size: 1.1em;
            max-width: 40%; } }
    .hero .hero-inner button {
      background-color: #477DCA;
      border-radius: 3px;
      border: none;
      color: white;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      padding: 0.7em 1em; }
      .hero .hero-inner button:hover:not(:disabled) {
        background-color: #578ad4;
        cursor: pointer; }
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        background-color: #3c71bb;
        cursor: pointer; }
      .hero .hero-inner button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }

.cards {
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.card {
  -webkit-flex-basis: 15em;
          flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  margin: 0 1em 1.5em 1em;
  position: relative;
  position: relative; }
  .card .card-image {
    overflow: hidden;
    max-height: 150px; }
    .card .card-image img {
      transition: all 0.2s ease-in-out;
      background: #DBD199;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 100%; }
  .card .card-header {
    transition: all 0.2s ease-in-out;
    background-color: #f6f6f6;
    border-bottom: 1px solid gainsboro;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .card .card-copy p {
      margin: 0 0 0.75em; }
  .card:focus, .card:hover {
    background-color: white; }
    .card:focus .card-image img, .card:hover .card-image img {
      background: #e2daac; }
    .card:focus .card-header, .card:hover .card-header {
      background-color: white; }
  .card:active {
    background-color: #f6f6f6; }
    .card:active .card-header {
      background-color: #f6f6f6; }

footer {
  background: #40526b;
  padding: 1.5em;
  width: 100%;
  display: inline-block; }
  footer ul {
    margin: 0;
    padding: 0;
    line-height: 1.5em; }
  footer li {
    list-style: none; }
  footer a {
    text-decoration: none; }
  footer .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      footer .footer-logo {
        float: left;
        margin-bottom: 0; } }
  footer .footer-logo img {
    height: 1.6em; }
  footer ul {
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      footer ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0; } }
  footer ul li {
    font-weight: 800;
    padding-right: 1em; }
    @media screen and (min-width: 53.75em) {
      footer ul li {
        display: inline;
        text-align: left; } }
  footer ul li a {
    color: rgba(255, 255, 255, 0.4); }
    footer ul li a:focus, footer ul li a:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    footer .footer-secondary-links {
      float: right; } }
  footer .footer-secondary-links li {
    font-size: 0.8em;
    font-weight: 400; }
  footer .footer-secondary-links ul.footer-social {
    margin-top: 1em; }
    @media screen and (min-width: 53.75em) {
      footer .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    footer .footer-secondary-links ul.footer-social li {
      font-size: 1em;
      float: left;
      line-height: 0;
      padding-right: 0.7em; }
      footer .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    footer .footer-secondary-links ul.footer-social img {
      height: 1.6em;
      opacity: 0.7;
      padding: 1px; }
      footer .footer-secondary-links ul.footer-social img:focus, footer .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }
