html, body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#index-banner {
  padding: 150px 0;

  img {
    @extend .responsive-img;
    padding-bottom: 30px;
  }
}

.logo-sm {
  width: 30px;
  position: relative;
  top: 10px;
  margin-right: 15px;
}

.to-top {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 20px;
  margin: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 45px;
  font-family: monospace;
  padding: 0;
  vertical-align: middle;
  padding-top: 20px;
}

.pointer {
    cursor: pointer;
}
