#index-banner {
  padding: 150px 0;
//  background-color: lighten($primary-color, 35%);
  background-image: url(/img/laravel.png);
  background-size: cover;

  h1.header {
    color: $primary-color;
  }
}

.logo-sm {
  width: 30px;
  position: relative;
  top: 10px;
  margin-right: 15px;
}