@charset "UTF-8";

// Mixins
@import "materialize/sass/components/prefixer";
@import "materialize/sass/components/mixins";
@import "materialize/sass/components/color";

// Variables;
@import "variables";

// Reset
@import "materialize/sass/components/normalize";

// materialize/sass/components
@import "materialize/sass/components/global";
@import "materialize/sass/components/icons-material-design";
@import "materialize/sass/components/grid";
@import "materialize/sass/components/navbar";
@import "overrides/navbar";
@import "materialize/sass/components/roboto";
@import "materialize/sass/components/typography";
@import "overrides/typography";
@import "materialize/sass/components/cards";
@import "overrides/cards";
@import "materialize/sass/components/toast";
@import "materialize/sass/components/tabs";
@import "materialize/sass/components/tooltip";
@import "materialize/sass/components/buttons";
@import "materialize/sass/components/dropdown";
@import "materialize/sass/components/waves";
@import "materialize/sass/components/modal";
@import "materialize/sass/components/collapsible";
@import "materialize/sass/components/materialbox";
@import "materialize/sass/components/form";
@import "materialize/sass/components/table_of_contents";
@import "materialize/sass/components/sideNav";
@import "materialize/sass/components/preloader";
@import "materialize/sass/components/slider";
@import "materialize/sass/components/date_picker/default.scss";
@import "materialize/sass/components/date_picker/default.date.scss";
@import "materialize/sass/components/date_picker/default.time.scss";

// Prism
@import "components/prism";

// Docs
@import "components/docs";

@import "custom";